.project-wrapper {
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.project-item {
  display: flex !important;
  flex-direction: column;
  background: var(--secondary-color);
  padding: var(--padding-m);
  border-radius: var(--border-radius-m);
  align-items: center;
  justify-content: center;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
  min-height: 250px;
}

.carousel {
  width: 700px;
}

@media (max-width: 768px) {
  .project-info {
    width: 100%;
  }

  .project-wrapper {
    margin-bottom: 20px;
  }

  .carousel {
    width: 350px;
  }
}
