header {
  padding: var(--padding-m);
  background: transparent;
  backdrop-filter: blur(10px);
  background-color: var(--secondary-color);
  position: fixed;
  top: 20px;
  right: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-m);
  z-index: 200;
  border-radius: var(--border-radius-m);
}

nav {
  display: flex;
  border-radius: var(--border-radius-m);
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

header .nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

header div,
nav {
  display: flex;
  align-items: center;
}

.active {
  color: var(--primary-text-color);
}

@media only screen and (max-width: 1024px) {
  header {
    padding: 0;
  }

  header .nav-btn {
    visibility: visible;
    opacity: 1;
    color: var(--primary-text-color);
  }

  header nav {
    position: fixed;
    padding: 10px;
    right: -100vw;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    transition: 0.5s;
  }

  header .responsive-nav {
    transform: translateX(-100vw);
  }

  nav a {
    font-size: var(--font-size-m);
  }
}
