.video-content {
  width: 100%;
  height: 100%;
}

.video-content-container {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (max-width: 768px) {
  .video-content-container {
    height: 100%;
    width: 100%;
  }
}
