.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  background: var(--secondary-color);
  padding: var(--padding-m);
  border-radius: var(--border-radius-m);
  width: 70%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .contact-me {
    width: 90%;
  }
}
