@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  font-family: "Satoshi";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #2f2f2f;
  color: #ececec;
}

.main {
  display: flex;
  font-size: 22px;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background: #181818d4;
  padding: 16px;
  border-radius: 6px;
  max-width: 600px;
}

.text-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.skills {
  display: flex;
  font-size: 22px;
  position: relative;
  width: 200px;
}

.avatar {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l1 5s infinite ease-in-out;
  border: 3px solid #181818d4;
}

@keyframes l1 {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

a {
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #ffffff73;
}

a:hover {
  color: #ececec;
}

@media only screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
    gap: 10px;
    height: auto;
    text-align: center;
  }

  .skills {
    margin: auto;
  }
}
